.service-item {
  background: linear-gradient(to right, #000000, #333333);
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #1f5fa3;
}

p {
  line-height: 1.5;
  margin-bottom: 0;
}
