<div class="container mt-5 col-md-10" id="services">
  <div class="row">
    <h1>Services</h1>
    <div class="col-md-6">
      <div class="service-item">
        <h2>Website Review</h2>
        <p>
          I make sure your website is performing its best by thoroughly
          reviewing it before making any changes. I look for potential issues a
          user might face, big or small, and make suggestions about how
          improvements could be made to fix that, ensuring your user is always
          on the right path to achieve their goals.
        </p>
      </div>

      <div class="service-item">
        <h2>Business Strategy</h2>
        <p>
          We discuss what you are trying to achieve and place goals on your
          website planning how to achieve that. For example, a product might use
          a small website to collect initial customers which can be grown into a
          much larger website later on with leads ready-to-go.
        </p>
      </div>

      <div class="service-item">
        <h2>User Experience Design</h2>
        <p>
          I design your website to be as easy to use as possible while guiding
          users towards the end goal. Putting the user’s experience first,
          whether they’re looking to subscribe, trying to contact you, or just
          gathering information, will ensure more loyal users increasing long
          term sales.
        </p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="service-item">
        <h2>Tailored Development</h2>
        <p>
          I build with your goals in mind, whether you want a simple flexible
          website, a custom storefront, or a SaaS product. I focus on making
          websites easy to work with so your team has full control, while
          keeping code maintainable for easy updates.
        </p>
      </div>

      <div class="service-item">
        <h2>Rigorous Testing</h2>
        <p>
          I ensure your website is of excellent quality by thoroughly testing
          with multiple approaches. Whether you’re looking to ensure consistency
          across multiple browsers, want reassurance code works as expected, or
          want to isolate visual components, testing helps guarantee everything
          works as expected.
        </p>
      </div>

      <div class="service-item">
        <h2>Ongoing Support</h2>
        <p>
          Your website is always growing. Whether you’re adding new features or
          making improvements I’m here to help. I won’t leave you guessing how
          your own website works and will always be available to answer any
          questions you might have.
        </p>
      </div>
    </div>
  </div>
</div>
