<div class="container mt-5" id="about">
  <div class="row">
    <div class="col-md-4">
      <img
        src="../../assets/about.jpg"
        alt="Profile"
        class="img-fluid profile-img"
      />
    </div>
    <div class="col-md-8">
      <h1>About Me</h1>
      <p class="about-text">
        Hello! I'm Anna Karolina, a passionate and enthusiastic Full Stack
        Developer. I love turning ideas into reality through the power of code.
      </p>
      <p class="about-text">
        -->
        <a routerLink="./technologies">Technologies and Tools</a>
      </p>
      <p class="about-text">
        Outside of coding, I love read, play with my pets, watch netflix, study
        to further improve my knowledge.
      </p>
    </div>
  </div>
</div>
