<div class="container mt-5 col-md-10">
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-center">About Me</h1>
      <p class="about-text">
        Hello! I'm Anna Karolina, a passionate and enthusiastic Full Stack
        Developer. I love turning ideas into reality through the power of code.
      </p>
      <p class="about-text">
        Outside of coding, I love to read, play with my pets, watch Netflix, and study to further improve my knowledge.
      </p>
    </div>
    <div class="col-md-6">
      <h1 class="text-center">Tech Stacks</h1>
      <div class="container mt-4">
        <div class="about-text center-content">
          <p>
            <app-skills></app-skills>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
