<nav class="navbar navbar-expand-lg bg-black" data-bs-theme="dark">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <a class="navbar-nav" href="/">
        <img
          src="../../../assets/logo.png"
          alt="Logo"
          class="d-none d-lg-block"
        />
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <div class="d-flex align-items-center gap-4">
        <a
          href="https://www.linkedin.com/in/anna-karolina-f-b72242218/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <fa-icon
            [icon]="['fab', 'linkedin']"
            size="2x"
            color="#0077B5"
          ></fa-icon>
        </a>
        <a
          href="https://github.com/iannak"
          target="_blank"
          rel="noopener noreferrer"
        >
          <fa-icon [icon]="['fab', 'github']" size="2x" color="#333"></fa-icon>
        </a>
        <a
          href="https://twitter.com/FranzKarols"
          target="_blank"
          rel="noopener noreferrer"
        >
          <fa-icon
            [icon]="['fab', 'twitter']"
            size="2x"
            color="#1DA1F2"
          ></fa-icon>
        </a>
        <a
          href="https://www.instagram.com/i.annk/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <fa-icon
            [icon]="['fab', 'instagram']"
            size="2x"
            color="#833AB4"
          ></fa-icon>
        </a>
      </div>
    </div>
  </div>
</nav>
