<div>
  <div class="bg-black text-secondary h-100 img-bg" data-bs-theme="black">
    <div class="description-content">
      <h1>
        Hello! I am Anna Karolina Franz
        <br />
        <span>Full Stack Developer</span>
      </h1>
      <h2>
        Enjoying every step, but already dreaming about the next achievements!
      </h2>
      <a href="#">Portfólio</a>
    </div>

    <div class="gradient-text-container">
      <div class="gradient-text">
        <div class="number">4+</div>
        <div class="projects">years</div>
      </div>

      <div class="gradient-text">
        <div class="number">15+</div>
        <div class="projects">projects</div>
      </div>
    </div>
  </div>
</div>
