<div class="container mt-4">
  <div class="image-container">
    <img src="../../../assets/icons/react.svg" alt="React">
    <img src="../../../assets/icons/javascript.svg" alt="Javascript">
    <img src="../../../assets/icons/node.svg" alt="Node">
    <img src="../../../assets/icons/angular.svg" alt="Angular">
    <img src="../../../assets/icons/typescript.svg" alt="Typescript">
    <img src="../../../assets/icons/nest.svg" alt="NestJS">
    <img src="../../../assets/icons/next.svg" alt="NextJS">
    <img src="../../../assets/icons/docker.svg" alt="Docker">
  </div>
  <div class="btn-download mt-4 d-flex items-center justify-center flex-column">
    <p>Mais Detalhes acesse o Curriculo</p>
    <a href="/" download="curriculo.pdf">
      <button>Visualizar Currículo</button>
    </a>
  </div>
</div>
